form.form-example 
{
    display: table;
}

div.form-example 
{
    display: table-row;
}

label, input 
{
    display: table-cell;
    margin-bottom: 10px;
}

label 
{
    padding-right: 10px;
}
/* next 2 selectors remove arrows on form inputs  */
/* for firefox */
input[type=number]
{
    -moz-appearance: textfield;
}
/* for all other browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}
